# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Poomon\Desktop\programing projects\Competitive Programming\club py\AID TOOLS\Linked List Raw_Double\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
