# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Poomon\Desktop\programing projects\PyCharm project\Data Structures\Linked List Raw\Linked List Raw with Methods\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
