# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Poomon\Desktop\programing projects\Competitive Programming\club java\ALL DATA STRUCTURE AID TOOLS\Three Sum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
